/*regole di debug*/
/*[class*="col-"] {
 min-height: 100px;
background-color: lightgreen;
 border: solid 1px  #000;
}*/

/*.container-fluid{
  background-color: blue;
}*/



#sezione1 .navbar-default{
  border: none;
  background-color: white;
  padding-top: 20px;
  width: 95%;


}
#sezione1 .navbar-brand > img{
  height: 40px;
  width: 40px;
  margin-top: -15px;
}
#sezione1 .navbar-brand{
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
#sezione1 li a{
  color: black;
  background-color: white;
}
#sezione1 button{
  border-color: blue;
  color: blue;
  background-color: white;
  margin-top: 13px;
  border-radius: 5px;
}
#sezione1 .navbar-header{
  margin-right: 100px;
}
#sezione1 h1{
  font-size: 45px;
  font-weight: bold;
  text-align: left;
  color: white;
  margin-top: 130px;

}
#sezione1 p{
  font-size: 15px;
  text-align: left;
  color: grey;
}
#sezione1 .container-fluid{
  height: 500px;
  background-image: url(../img/home.jpg);
}
.account{
  background-color: white;
  height: 330px;
  width: 400px;
  margin-top: 100px;
  border-radius: 5px;
  padding: 15px;
  margin-left: 50px;
}
.account h2{
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight: bold;
}
#sezione1 .account p{
  font-size: 10px;
  text-align: center;
}
.account .start{
  font-size: 25px;
  color: blue;
 margin-left: 90px;
 font-weight: bold;
}
.account a{
  color: blue;
}
.account #create{
  color: white;
  background-color: blue;
  width: 100%;
  height:30px;
  margin-top: 15px;
}
.account #google{
  color: black;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  margin-top: 15px;
}
.account #google > img{
  height: 10px;
  width: 10px;


}
.account input{
  border: 1px grey;
  padding: 5px;
  width: 100%;
}

#sezione2{
  background-color: #FAEBD7;
  height: 500px;
}
#sezione2 h3{
  margin-top: 80px;
  font-size: 25px;
}
#sezione2 img{
  height: 60px;
  width: 110px;
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 80px;
}
#sezione2 a{
  color: blue;
  font-size: 15px;
}


#sezione3{
  height: 400px;
}
#sezione3 h1{
  font-size: 25px;
  margin-top: 50px;
}
#sezione3 h2{
  font-size: 15px;
  margin-bottom: 50px;
  color: grey;
}
#sezione3 li{
  text-decoration: none;
  color: grey;
  list-style: none;
  margin-top: 20px;
  margin-left: 50px;
}
#sezione3 li a{
  color: grey;
  text-decoration:none;
}
#sezione3 h3{
  font-size: 18px;
}
#sezione3 p{
  font-size: 14px;
}


#sezione4{
  height: 500px;
}
#sezione4 h1{
  font-size: 25px;
  margin-top: 100px;
}

#sezione4 h3{
  font-size: 18px;
  color: grey;
}
#sezione4 img{
  height: 400px;
  width: 550px;
}
#sezione4 h2{
  font-size: 15px;
}
#sezione4  #carousel-example-generic{
  width: 600px;
  height: 400px;
  margin-left: 280px;
  margin-top: 100px;
  margin-bottom: 50px;
}


#sezione5 h1{
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 60px;
}
#sezione5 h2 p{
  text-align: left;
}
#sezione5 a{
  color: blue;
  text-align: left;
}
#sezione5 h2{
  font-size: 17px;
}


#sezione6{
  background-color: darkblue;
  height: 500px;
  margin-top: 60px;
}
#sezione6 h1{
  color: white;
  font-size: 25px;
  margin-top: 50px;
}
#sezione6 h2{
  font-size: 13px;
  display: inline-block;
  color: white;
  text-align:left;

}
#sezione6 p{
  font-size: 13px;
  display: inline-block;
  color: white;
  padding-left: 80px;
}
#sezione6 a{
  color: lightgreen;
  font-size: 12px;
  display: inline-block;
  padding-left: 200px;
}
#sezione6 hr{
  color: white;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}


#sezione7{
  background-color: #DCDCDC;
  height: 500px;
}
.rockerbox{
  background-color: white;
  height: 350px;
  width: 500px;
  margin-left: 29%;
  margin-top: 100px;
}
#sezione7 h1{
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
}
#sezione7 img{
  height: 50px;
  width: 70%;
  margin-top: 50px;
}
#sezione7 p{
  font-size: 15px;
  margin-top: 20px;
}
#sezione7 a{
  color: blue;
  margin-top: 30px;
}


#sezione8{
  height: 200px;
 background-color: darkblue;
}
#sezione8 h1{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white
}

#sezione8 button{
  background-color: white;
  color: blue;
  border-radius: 7px;
  padding: 8px;
  font-size: 15px;
  width: 200px;
  height: 40px;
}

footer{
  background-color: navy;
  height: 600px;
}
footer img{
  height: 40px;
  width: 40px;
  margin-top: 40px;
}
footer p{
  color: grey;
  font-size: 12px;
}

footer h1{
  font-size: 17px;
  color: white;
  margin-top: 50px;
}
footer h3{
  color: grey;
  font-size: 15px;
}
footer li{
  text-decoration: none;
  list-style: none;
  display: inline-block;

}
footer li a{
  font-size: 20px;
  color: grey;
  margin-left: 15px;
}





/* mobile */

@media screen and (max-width: 768px) {
  #sezione1 .container-fluid{
    height: 1000px;
    background-image: url(../img/home.jpg);
  }
 }





 /*  tablet */
@media screen and (max-width:993px) and (min-width: 769px) {
  #sezione4  #carousel-example-generic{
    width: 600px;
    height: 400px;
    margin-left: 180px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  #sezione6{
    height: 800px;
  }
  #sezione6 a{
    color: lightgreen;
    font-size: 10px;
    display: inline-block;
    padding-left: 600px;
 }

 #sezione6 hr{
   color: white;
   height: 1px;
   margin-top: 1px;
   margin-bottom: 1px;
 }
 .rockerbox{
   background-color: white;
   height: 350px;
   width: 500px;
   margin-left: 25%;
   margin-top: 100px;
 }
footer{
  height: 800px;
}

}
